*{
    margin: 0px;
    padding: 0px;
}
.main{
    padding-top: 30px;
display: flex;
justify-content: space-around;
/* background-color: red; */
}
.logo{
font-size: 22px;
font-weight: 600;
}
.link{
display: flex;
}
.link ul{
display: flex;
gap: 20px;
}
.link li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}
.logoout{
font-size: 20px;
font-weight: 600;
}
.logoe{

}
.none{
    display: none;
    background-color: aqua;
    padding: 3px 3px 3px 3px;
}
.colo{
    background-color: blue;
}
/* .anim{
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    /* -webkit-text-stroke: 1px red; 

    width: 350px;
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.288),blue,green);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -350px, 0px;
    animation: khan 7s linear infinite alternate;
}

@keyframes khan{
0%{
    background-position: -400px, 0px;
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.288),blue,green);
}
50%{
    background-image: linear-gradient(90deg, rgba(136, 127, 127, 0.438),rgb(168, 168, 184),rgb(99, 192, 45));
}
100%{
    background-position: 0px, 0px;
    background-image: linear-gradient(90deg, rgba(200, 255, 0, 0.938),rgba(0, 0, 255, 0.158),rgb(138, 26, 104));
}
} */





@media(max-width:400px) {
.main{
    justify-content: space-between;
    padding: 30px 10px 0px 10px;
    animation: 3s !important;
}
.colo{
    background-color: blue !important;
   transition: 3s;
    font-weight: bold;
    width: 120px;
        height: 100vh;
    transform: translate(-80px, 0px)!important;
    padding:30px 0px 0px 0px;
    justify-content: center;
}
    .link{
        /* display: block; */
        background-color: red;
        width: 200px;
        height: 100vh;
       transition: 3s;
        /* position: relative;
        top: 0px;
        left: -240px; */
        margin-top: -30px;
        transform: translate(-280px, 0px);
    }

    .link ul{
        flex-direction: column;
    }
    .logoout{
        display: none;
    }
    .none{
        display: block;
    }
}